* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../font/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'MontserratThin';
    src: url("../font/Montserrat-Thin.ttf") format("truetype");
}

html {
    font-family: Montserrat, serif;
}

body {
    margin: 0;
}

/* CANVAS AND CONTROLS */

.main-container {
    background-color: #e3e3e3;
    margin: 0 auto;
    width: 100vw;
    border: 1px solid red;
}

.editor {
    display: flex;
    display: none;
}

canvas {
    display: block;
    border: 1px solid black;
    margin-left: 3.125rem;
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;
}

/* CONTROLLS */

.controls {
    margin-left: 3.125rem;
    margin-top: 1.5625rem;
    display: flex;
    flex-direction: column;
}

.meme-str {
    text-decoration: none;
    border: none;
    border-radius: 1rem;
    width: 23.3125rem;
    height: 3.75rem;
    text-align: center;
    font-family: Montserrat, serif;
    font-size: 1.25rem;
    font-weight: 400;
}

.controll-buttons {
    box-sizing: border-box;
    border-radius: 0.7rem;
    background-color: #ffffff;
    padding: 0.5rem;
    height: 3.75rem;
    width: 3.75rem;
    cursor: pointer;
}

.first-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-button-top {
    margin-top: 0.6rem;
}

.second-group {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    flex-grow: 1;
}

.third-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5625rem;
}

/* NAV BAR */

.meme-nav-container {
    font-size: 1.1875rem;
    color: #ffffff;
    width: 100%;
    height: 4.125rem;
    background-color: #ff7f00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    margin-right: 3.125rem;
}

.meme-nav-container .logo {
    margin-left: 3.125rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    display: flex;
}

.seperator {
    height: 2rem;
    width: 1px;
    background-color: #8a8a8a;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* GALLERY */

.gallery-container {
    width: 100vw;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    padding: 1.5625rem 3.125rem 1.5625rem 3.125rem;
}

.gallery a {
    height: 350px;
    background-size: cover;
}

/* FOOTER */

.main-footer {
    width: 100%;
    height: 12.9375rem;
    background-color: #ff7f00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copy-rights {
    margin-top: 1rem;
    font-size: 1.1875rem;
    font-family: MontserratThin, serif;
    color:#ffffff ;
}

@media(max-width: 850px) {
    .editor {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .third-group {
        margin-top: 2rem;
    }
    canvas {
        margin:0;
    }
    .controls {
        margin:0;
        margin-top:1.5625rem; ;
    }
}